# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    groups:
      arborium:
        patterns:
          - '@arborium/*'
      react:
        patterns:
          - react
          - react-dom
          - '@types/react'
          - '@types/react-dom'
        # exclude-patterns: []
      mui:
        patterns:
          - '@mui/*'
      fontsource:
        patterns:
          - '@fontsource/*'
