:root {
	--spacing-unit: 8px;
}

/* Add space for the header when navigating to anchors */
article :target::before {
	content: '';
	display: block;
	pointer-events: none;
	height: 75px;
	margin-top: -75px;
}

.layout {
	max-width: 42rem;
	margin: 0 auto;
	padding: 0 calc(var(--spacing-unit) * 3);
}

.toolbar {
	justify-content: center;
}
