name: Deployment
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types:
      - opened
      - reopened
      - synchronize
      - closed
  workflow_dispatch:
concurrency: deployment-${{ github.ref }}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: yarn
      - run: yarn install --immutable
      - run: yarn build --base=/phil.red/pr-${{ github.event.pull_request.number }}
        if: github.event_name == 'pull_request'
        env:
          NODE_ENV: development
      - run: yarn build
        if: github.event_name != 'pull_request'
        env:
          NODE_ENV: production
      - uses: actions/upload-artifact@v6
        with:
          path: dist
  deploy-preview:
    needs: build
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6 # setup git
        with:
          persist-credentials: false
      - uses: actions/download-artifact@v7
        with:
          path: dist
      - uses: rossjrw/pr-preview-action@v1
        id: preview
        with:
          source-dir: dist
          preview-branch: gh-pages
          umbrella-dir: .
          qr-code: true
          token: ${{ secrets.PREVIEW_TOKEN || github.token }}
  deploy-production:
    needs: build
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    environment:
      name: phil.red
      url: https://phil.red
    steps:
      - uses: actions/download-artifact@v7
        with:
          path: dist
      - uses: burnett01/rsync-deployments@v8
        with:
          switches: --recursive --delete --archive --compress --verbose
          path: dist/
          remote_path: /srv/http/phil.red
          remote_host: phil.red
          remote_user: root
          remote_port: 1988
          remote_key: ${{ secrets.DEPLOY_KEY }}
